<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--对应接口的全类名-->
<mapper namespace="Mapper.SelectMapper">
    <select id="getFruitByIdToMap" resultType="map">
        select * from fruit where fid = #{fid}
    </select>

</mapper>