<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>TEST</h1>
<form th:action="@{/param/servletAPI}" method="post">
    用户名:<input type="text" name="username"><br>
    密码:<input type="text" name="password"><br>
    <input type="submit" value="登录" >
</form>
<br>
<a th:href="@{/test/view}">测试ThymeleafView视图的</a><br>
<a th:href="@{/test/view}">测试ThymeleafView视图的</a><br>
<a th:href="@{/test/view}">测试ThymeleafView视图的</a><br>
</body>
</html>