<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--<bean id="Student" class="Spring.pojo.Student">
        <property name="name" value="YAN"></property>
        <property name="age" value="28"></property>
        <property name="sex" value="男"></property>
    </bean>


    <bean id="userController" class="Spring.pojo.Controller.UserController" autowire="byType">
        &lt;!&ndash;<property name="userService" ref="userSeviceimpl"></property>&ndash;&gt;
    </bean>

    <bean id="userSeviceimpl" class="Spring.pojo.Service.impl.UserSeviceimpl" autowire="byType">
        &lt;!&ndash;<property name="userDao" ref="userDaoimpl"></property>&ndash;&gt;
    </bean>

    <bean id="userDaoimpl" class="Spring.pojo.DAO.impl.UserDaoimpl" >

    </bean>-->

    <!--扫描组件-->
    <context:component-scan base-package="Spring.pojo">
        <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
    </context:component-scan>


</beans>